*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;

}

body {
    background-color: hsl(243, 96%, 9%);
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown {
  width: 200px;
  position: relative;
}

.dropdown-wrapper{
    background-color: hsl(243, 23%, 24%);
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}

.btn {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn img {
    margin: 0 10px;
}


.unit-lists {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
  background-color: hsl(243, 23%, 24%);
  position: absolute;
  top: 40px;
  right: 0px;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.temperature-lists, .wind-lists, .prec-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-category{
    margin: 10px 0; 
    color: hsl(240, 6%, 70%);
}

.unit-lists img {
    display: flex;
    justify-content: space-between;

}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}



.search-category{
    display: flex;
    width: 500px;
    margin: auto;
    position: relative;
}

.search {
    display: flex;
    align-items: center;
    background-color: hsl(243, 23%, 24%);
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.search input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    font-family: "Hanken Grotesk", sans-serif;
    width: 300px;
}

.search input:focus{
    outline: none;
}

.search-category button{
    font-size: 1.1rem;
    width: 500px;
    /* height: 40px; */
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: hsl(233, 67%, 56%);

}

.suggestions {
    background-color: hsl(243, 23%, 24%);
    width: 345px;
    position: absolute;
    top: 150px;
    left: 175px;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.suggestions p{
    padding: 5px ;
}

.suggestions p:hover{
    /* padding: 10px; */
    background-color: hsl(243, 23%, 30%);
    border-radius: 5px;
}

.weather-container{
    color: #fff;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 15px;
    margin: 40px 0;
}

.left-container{
    /* background-color: black; */
    padding: 20px;
}

.left-container .top-banner{
    display: flex;
    justify-content: space-between;
}

.weather-extra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 0;
    gap: 10px;
}

.weather-extra .child {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* column-gap: 10px; */
    /* width: 170px; */
    height: 100px;
    background-color: hsl(243, 23%, 30%);
    border-radius: 5px;
}

.weather-extra .child h2 {
    margin-bottom: 20px;
}

.daily-update {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 boxes per row */
    gap: 12px; /* space between boxes */
}

.daily-item {
    background: hsl(243, 23%, 30%);
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.right-container{
    background-color: #030825;
}